* {
  margin: 0;
  padding: 0;
}

html {
  /* color: black;
    background-color: whitesmoke; */
}

a {
  color: black;
  text-decoration: none;
}

body {
  overflow: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  min-height: 1rem;
  padding: 1rem;
  flex: 0;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  overflow: none;
  flex-grow: 1;
}

figure {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

img {
  max-width: 100%;
  display: block;
  text-indent: -999em;
}

figcaption {
  font: serif;
  padding-top: 1rem;
  padding-right: 0.2rem;
  padding-bottom: 1.4rem;
  text-align: center;
  font-size: 12pt;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  background-color: pink;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  padding: 20px;
}

h2,
h3 {
  text-transform: capitalize;
  padding-bottom: 4px;
}

p {
  color: black;
  border-bottom: brown dashed 0px;
  padding: 10px;
}

main > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.full-height {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}
.height-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.height-container > div:nth-child(2) {
  margin: 0px;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1rem;
  padding-top: 0;
  padding-right: 1rem;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}

.title {
  padding: 0.4rem;
  display: inline;
}

.column-footer {
  padding: 0.4rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
}

.one .column-header,
.one .column-footer {
  background-color: white;
}
.two .column-header,
.two .column-footer {
  background-color: white;
}
.three .column-header,
.three .column-footer {
  background-color: white;
}

.column-main {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.column-main::-webkit-scrollbar {
  display: none;
}

/* .one p {
    background-color: lightblue;
  }
  
  .two p {
    background-color: lightyellow;
  }
  
  .three p {
    background-color: lightgreen;
  }
   */
